@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {
        .width-sidebar-show {
            width: calc(100vw - 16rem);
        }
        .width-min-sidebar-show {
            width: calc(100vw - 4.4rem);
        }
    }
}

@layer base {
    @font-face {
        font-family: CircularSpotifyText;
        src: url("CircularSpotifyText-Black.otf") format("opentype");
    }

    @font-face {
        font-family: CircularSpotifyTextBold;
        src: url("CircularSpotifyText-Bold.otf") format("opentype");
    }
}